<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/b9b627b9-cb15-4539-be2f-4015f7d95123/resourceGroups/WeshuPropertyListing/providers/Microsoft.Web/sites/weshuproperties</ResourceId>
    <ResourceGroup>WeshuPropertyListing</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://weshuproperties.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>weshuproperties.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>weshuproperties</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$weshuproperties</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>